{% extends 'base.html' %}

{% block title %} 
    Détail des personnes
{% endblock title %}

{% block header%} 
    <a href="{% url 'url_persona_generate' %}">Ajouter une personne</a> 
{% endblock header%}

{% block content %}
    <table style=" border: 1px solid black;border-radius: 10px;">
        <tr>
            <td>ID</td>
            <td>Nom</td>
            <td>Prenom</td>
            <td>Email</td>
        </tr>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.id }}</td>
                <td><a href="{% url 'url_persona_details' persona.id %}">{{ persona.last_name }}</a></td>
                <td>{{ persona.first_name }}</td>
                <td>{{ persona.email }}</td>
            <tr>
        {% endfor %}
    </table>
{% endblock content %}